@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
body
{background: coral;
background-color: darkgoldenrod;}
#into
{/*font*/
font-family: fantasy;}
#details
{/*different font*/
font-family: monospace;}
#more-details
{font-family: 'Trade Winds', ;
    /*google font*/}